{%- if section.settings.enable_bar -%}
  {%- unless section.settings.home_page_only and template != 'index' -%}
    <section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="announcement-bar">
      <div class="AnnouncementBar">
        <div class="AnnouncementBar__Wrapper">
          <p class="AnnouncementBar__Content Heading">
            
            {%- if settings.announcement_bar_show_free_shipping_threshold -%}
            {%- assign threshold_in_cents = settings.free_shipping_threshold | times: 100 -%}
              <span>{%- if cart.total_price >= threshold_in_cents -%}</span>
                {{- 'cart.general.free_shipping' | t -}}
              {%- else -%}
            <span>{%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}{%- endcapture -%}</span></span>
                {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}
              {%- endif -%}
          {%- endif -%}

          </p>
        </div>
      </div>
    </section>

    <style>
      #section-{{ section.id }} {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
      }
    </style>

    <script>
      document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-announcement').offsetHeight + 'px');
    </script>
  {%- endunless -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "announcement_bar_show_free_shipping_threshold",
      "label": "Show shipping rates threshold",
      "default": true
	},
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}