{%- if section.settings.show_section -%}
<section id="section-{{ section.id }}">
  <div class="Container">
    <div class="Page_Content Page_Content--normal">        
	  <div class="Grid Grid--center">
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Imperial Red</h3>
       	  <svg height="200" width="200">
  			<circle cx="100" cy="100" r="90" stroke="black" stroke-width="3" fill="{{ section.settings.primary }}" />
		  </svg>
        </div>
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Ivory<br />#f9f9f9</h3>
          <svg height="200" width="200">
  			<circle cx="100" cy="100" r="90" stroke="black" stroke-width="3" fill="{{ section.settings.secondary }}" />
		  </svg>
        </div>
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Eerie Black</h3>
       	  <svg height="200" width="200">
  			<circle cx="100" cy="100" r="90" stroke="black" stroke-width="3" fill="{{ section.settings.black }}" />
		  </svg>
        </div>
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Cultured</h3>
       	  <svg height="200" width="200">
  			<circle cx="100" cy="100" r="90" stroke="black" stroke-width="3" fill="{{ section.settings.white }}" />
		  </svg>
        </div>
      </div>   
    </div>
  </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "Brand Colors",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section",
      "default": true
    },
	{
	  "type": "header",
	  "content": "Colors"
	},
    {
      "type": "color",
      "id": "primary",
      "label": "Primary",
      "default": "#ef3340"
    },
	{
      "type": "color",
      "id": "secondary",
      "label": "Secondary",
      "default": "#fffef1"
    },
	{
      "type": "color",
      "id": "black",
      "label": "Black",
      "default": "#1f1f1e"
    },
	{
      "type": "color",
      "id": "white",
      "label": "White",
      "default": "#f9f9f9"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
