{%- if section.settings.show_section -%}
<section id="section-{{ section.id }}">
  <div class="Container">
    <div class="Page_Content Page_Content--normal">        
	  <div class="Grid Grid--center">
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Imperial Red</h3>
       	  <div class="brand-primary"></div>
        </div>
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Ivory</h3>
       	  <div class="brand-secondary"></div>
        </div>
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Eerie Black</h3>
       	  <div class="brand-black"></div>
        </div>
        <div class="Grid__Cell 1/2--pocket 1/4--lap-and-up" style="text-align: center;">
          <h3 class="SectionHeader__Heading Heading u-h4">Cultured</h3>
       	  <div class="brand-white"></div>
        </div>
      </div>   
    </div>
  </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "Brand Colors",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section",
      "default": true
    },
    {
      "type": "color",
      "id": "primary",
      "label": "Primary",
      "default": "#ef3340"
    },
	{
      "type": "color",
      "id": "secondary",
      "label": "Secondary",
      "default": "#fffef1"
    },
	{
      "type": "color",
      "id": "black",
      "label": "Black",
      "default": "#1f1f1e"
    },
	{
      "type": "color",
      "id": "white",
      "label": "White",
      "default": "#f9f9f9"
    }
  ]
}
{% endschema %}
{% stylesheet %}

.brand-primary {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: {{ section.settings.primary }};
  border: 3px solid #000;
  margin: 0 auto;
}
.brand-secondary {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: {{section.settings.secondary}};
  border: 3px solid #000;
  margin: 0 auto;
}
.brand-black {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: {{section.settings.black}};
  border: 3px solid #000;
  margin: 0 auto;
}
.brand-white {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: {{section.settings.white}};
  border: 3px solid #000;
  margin: 0 auto;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
