{%- if section.settings.show_section -%}
<section id="section-{{ section.id }}">
  <div class="Container">
    <div class="Page_Content Page_Content--normal">    
     
      {%- if section.settings.title != blank -%}
      <div class="SectionHeader--center" style="margin-bottom: 25px;">
         <h2 class="SectionHeader__Heading Heading u-h2">{{ section.settings.title | escape }}</h2>
      </div>
	  {%- endif -%}
      
	  <div class="Grid Grid--center">
        <div class="Grid__Cell 1/1--pocket 1/2--lap-and-up" style="text-align: center;">
       	  <img src="{{ snooozeworks_rect-red-svg.svg | asset_url }}" alt"{{ shop.name }}" />
        </div>
        <div class="Grid__Cell 1/1--pocket 1/2--lap-and-up" style="text-align: center;">
          <svg height="200" width="200">
  			<circle cx="100" cy="100" r="90" stroke="black" stroke-width="3" fill="{{ section.settings.secondary }}" />
            <text x="50%" y="45%" dominant-baseline="middle" text-anchor="middle">Ivory White</text> 
            <text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">#FFFEF1</text> 
		  </svg>
        </div>
      </div>   
    </div>
  </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "Brand Colors",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Colors"
    },
	{
	  "type": "header",
	  "content": "Colors"
	},
    {
      "type": "color",
      "id": "primary",
      "label": "Primary",
      "default": "#ef3340"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
