
<section class="Section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="page-content-block">
  <div class="PageSection_1">
    <div class="Section_H1 slideanim">{{ section.settings.title }}</div>
      <div class="Section_Paragraph slideanim">
        {{ section.settings.content }}
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content - Style 1",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Section Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    }
]
  }
{% endschema %}

{% stylesheet %}

<style>
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
  }
</style>

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
