<div class="Page_Container">
  
  <div class="PageHeader_Story">
    <div class="Page_Header_H1">OUR STORY</div>
    <div class="Page_Header_Subtitle">A brief tale of SnooozeWorks</div>
 	</div>
    
  <div class="PageSection_1">
    <div class="Section_H1">The Beginning</div>
      <div class="Section_Paragraph slideanim">
        <p class="Section_Text">
          It's been four years since SnooozeWorks was started as a side hustle and it's morphed into something so much more -- granting opportunities for incredible personal, professional, and spiritual growth. My name is Daniel, and I started SnooozeWorks in late-2016 as a creative outlet to add a little self-fulfillment to my life. I was a Junior in college at the time, a late bloomer as they say, and needed to find a little happiness in what I was pursuing as a career. The early designs that I created before opening, or considering opening, SnooozeWorks helped me build a style, and the emotional uplift I received from finishing a piece let me know this is what I wanted to be doing with my life.<br /><br />

          It started with a single poster design that's transformed into into almost 700 products across a multitude of types and styles. Throughout the first two years,  I worked full-time during the day, in addition to attending college full-time in pursuit of a Bachelor's degree. It was a lot of late nights and early mornings designing, printing, making, attending to customer service, taking care of finances. Crazy long work weeks, but SnooozeWorks was my reprieve. It was my passion, and it felt like I was living in a dream every time I heard the little 'ding' of an order being placed.
        </p>
      </div>
  </div>

  <div class="PageSection_2">
      <div class="Section_H1 slideanim">Going Full-Time</div>
      <div class="Section_Paragraph slideanim">
        <p class="Section_Text">
          Eventually, I decided to take this passion, and double down. It was time to put my full focus into this business. 
          It was a risk, but it was worth it. Taking the forty hours from my day job and putting them into SnooozeWorks 
          allowed me to add product lines, redesign storefronts and the website, and expanding the amount of products that we could sell.<br /><br />

          None of this would be possible without the help of those around us, particularly the families and friends who listen to our 
          ramblings and are the first to see things we're working on. The shop puppy, Loki, and two fur-babies, Slugger and Baxter, are equally 
          helpful in listening while we pace around and think out-loud at all hours. The support around SnooozeWorks is crazy, and
          it's made diving head first into this so much better.
        </p>
      </div>
  </div>
  
  <div class="PageSection_1">
      <div class="Section_H1 slideanim">Moving Forward</div>
      <div class="Section_Paragraph slideanim">
        <p class="Section_Text">
          It's 2020! We're well into the new year and SnooozeWorks has lots of plans! The year started with some new equipment, namely the Canon TA-20 printer and the Sawgrass SG400 sublimation printer. These two have revolutionized how efficiently we can work, while providing an unbelievable boost to our overall product quality. Since then, we've added new HUGE poster sizes, all the way up to 24"x36", premium vinyl stickers, tons of new designs and gift cards. We have some new products in the pipeline, and maybe a few more surprises along the way!<br /><br />
          Rest assured, we have a ton of stuff planned for this year and beyond! With your help and support, we look forward to crushing the start of the Roaring Twenties! If you'd like to keep up with all the new stuff we're coming up with, please feel free to join our Newsletter. It goes out once per month, that's the only email you'll ever get from us! Each monthly newsletter includes a little promo code for you, too!
        </p>
    </div>
  </div>
  
  <div class="PageSection_2">
    <div class="Section_H1 slideanim">Newsletter</div>
    <div class="Section_Paragraph slideanim">
      <span class="Section_Subtitle">
        Join our mailing list to get notified of new products, discount codes, various promotions, and 
        some behind-the-scenes stuff. Our emails go out a few times per month and always include a little discount code to thank you for being a member!
      </span>
      {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form' -%}
         {%- if form.posted_successfully? -%}
           <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
           {%- else -%}
           {%- if form.errors -%}
           <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
           {%- endif -%}

           <input type="hidden" name="contact[tags]" value="newsletter">
           <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="{{ 'footer.newsletter.input' | t }}" required>
           <button type="submit" class="Form__Submit Button Button--primary">{{ 'footer.newsletter.submit' | t }}</button>
         {%- endif -%}
       {%- endform -%}
    </div>
  </div>
  
    
  <div class="PageSection_1" id="instagram">
    <div class="Section_H1 slideanim">
      Instagram
      <br />
      <span class="Section_Subtitle">To see out more, follow us at <a href="https://instagram.com/snooozeworks" target="_blank">snooozeworks</a></span>
    </div>
    
    <div class="Section_Paragraph slideanim">
      <div id="insta-feed"></div>
       
    </div>
  </div>